<div class="footer">
  <p class="footer-instructions">Scroll Or Use Arrow Keys To Navigate</p>

  <p>&copy; Perfect Presence &#8759;</p>
  <div class="right-text">
    <ul>
      <li>Social</li>
      <li style="font-size:16px;font-weight: 100 !important;">&#8759;</li>
      <li><img src="https://static1.squarespace.com/static/54b297e1e4b089270ed32a86/54e74d70e4b02db31b39fa08/54e74e97e4b0866feef1025a/1424445173581/twitter-4096-black.png"/></li>
      <li><img src="https://cdn1.iconfinder.com/data/icons/simple-icons/1024/facebook-1024-black.png"/></li>
      <li><img src="http://www.iconsdb.com/icons/preview/black/google-plus-xxl.png"/></li>
      <li style="font-size:16px;font-weight: 100 !important;">&#8759;</li>
      <li>TOS</li>
    </ul>
  </div>
</div>