<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

<style>
  body{
    margin: 0px;
    overflow: hidden;
    background:red;
    background-image: radial-gradient(ellipse farthest-corner at center top, #124b12 0%, #000000 60%);
    perspective: 900px;
  }

  .right-text ul {
    float:right;
    display: inline;
    margin-right: 20px;
  }

  .right-text ul li {
    display: inline;
    color:white;
    font-size:9px;
    font-family: "Helvetica", sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    margin-left: 10px;
  }


  .right-text ul li img {
    width:12px;
    height: 12px;
    filter: invert(100%);
    transform: translateY(2px);

  }

  .footer p {
    position: absolute;
    left:20px;
    top:11px;
    font-size:9px;
    color:white;
    letter-spacing: 3px;
    font-family: "Helvetica", sans-serif;
    font-weight: 100;

  }



  canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999999999999999999;
  }

  .text-container {
    position: absolute;
    top:100px;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 9999999999999999;
  }

    .text-container h1 {
      font-size:20px;
      letter-spacing: 20px;
      font-family: 'Helvetica', cursive;
      font-weight: 100;
      color:white;
      position: absolute;
      text-align:center;
      margin-top:50px;
      top:50px;
      left:50px;
      text-shadow:
          0 0 2px rgba(255,255,255,1),
          0 0 10px rgba(255,255,255,1),
          0 0 20px rgba(255,255,255,1),
          0 0 30px rgba(255,255,255,1),
          0 0 40px rgba(10,255,100,0.1),
          0 0 70px rgba(10,255,100,0.1),
          0 0 80px rgba(10,255,100,0.1),
          0 0 100px rgba(10,255,100,0.1);
      animation: flicker 100ms ease-in-out forwards 5;
    }

    .text-container h1::after {
      content: "";
      display: block;
      position:absolute;
      bottom: 11px;
      left: -7px;
      width:0%;
      box-shadow:0 0 16px #0d450d, inset 0 0 14px #0d450d;
      height:1px;
      background:red;
      animation: line 5s ease-in-out forwards;

    }

    @keyframes line {
      0%{
        box-shadow:0 0 16px white, inset 0 0 14px white;

        width: 0;
      }
      100%{
        box-shadow:0 0 16px #0d450d, inset 0 0 14px #0d450d;

        width: 100%;
      }
    }



    @keyframes flicker {
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
    }


    .form {
      width:100%;
      height:200px;
      margin-top:250px;
    }

    .form form {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .form input {
      width:200px;
      height:40px;
      border:none;
      background:rgba(255,255,255,0.4);
      color:black;
      font-weight:bold;
      font-size:11px;

    }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing:2px;
  }

    * {
      outline: none;
    }

    .form form button {
      width: 300px;
      height:30px;
      background:#0d450d;
      border:none;
      color:white;
      display: block;
      margin:0 auto;
      font-family: Helvetica,sans-serif;
      letter-spacing: 2px;
      font-weight:100;
      margin-top:50px;
      font-size:10px;
      cursor: pointer;
      position: relative;
    }

    .form form button::after {
      content: "";
      display: block;
      width: 0;
      height:100%;
      background:rgba(0,200,0,0.1);
      position: absolute;
      top:0;
      left:0;
      transition: all 300ms ease-in-out;
    }

    .form form button:hover::after {
      width:100%;
    }

    select {
      height: 40px;
      width:150px;
      border:none;
      border-radius: 0;
      background:rgba(255,255,255,0.4);

    }

    .text-container p {
      color:white;
      top:170px;
      left: 30px;
      position: absolute;
      font-size:11px;
      font-family:Helvetica, sans-serif;
      font-weight: 100;
      letter-spacing:3px;
    }


  .footer p{
    color:white;
    position: absolute;
    top:0;
    left:10px;
  }

  @media only screen and (max-width: 1030px) {
    .form form input {
      width:90%;
      margin-top:3px;
    }
    .form form select {
      width:90%;
      margin-top:3px;
    }
  }
    @media only screen and (max-width: 600px) {
    .form form input {
      width:90%;
      margin-top:3px;
    }
    .form form select {
      width:90%;
      margin-top:3px;
    }
  }


    @media only screen and (max-width: 300px) {
    .form form input {
      width:90%;
      margin-top:3px;
    }
    .form form select {
      width:90%;
      margin-top:3px;
    }
  }

  form {
    transition: all 300ms ease-in-out;
  }
    .go-out {
      opacity: 0;
    }

    .text-inner {
      margin-top:-100px;
    }

    .text-inner h1, .text-inner p {
      transform:translateY(-100px);
    }

  .inner-fixed-nav h1 span {
    transition: all 300ms ease-in-out;
    position: relative;
    cursor: pointer;
  }

  .inner-fixed-nav h1 span:hover {
    animation: flicker-nav 100ms ease-in-out 5 forwards;
  }

  .inner-fixed-nav h1 span::after {
    opacity: 0 !important;
  }

  @keyframes flicker-nav {
    0%{
     opacity: 0;
    }
    100%{
      opacity:1;
    }
  }
  .footer-instructions {
    opacity: 0;
    transform: translateY(30px);
    animation: footer 1.1s ease-in-out forwards 1 0.3s;
  }

  @keyframes footer {
    0%{
      opacity: 0;
      transform: translateY(30px);
    }
    100%{
      opacity: 1;
      transform: translateY(2px);
    }
  }

    .pointers {
      pointer-events: none;
    }

  .inner-fixed-nav h1 {
    font-size:17px !important;
  }

</style>

<%= render 'partials/nav' %>

<div id="webgl"></div>

<div class="text-container">
  <div class="text-inner">

  <h1>CONTACT US</h1>
  <p>Make your idea come to life</p>

  <div class="form">


    <form>
      <input placeholder="Your Name" type="text"/>
      <input placeholder="Email Address" type="text"/>
      <input placeholder="Phone Number" type="text"/>
      <select>
        <option value="" disabled selected>Select your interest</option>
        <option>Lorem</option>
      </select>
      <button>Submit</button>
    </form>
  </div>
  </div>

  <%= render 'partials/footer' %>
</div>

<script>
    var vertexHeight = 15000;
    var planeDefinition = 100;
    var planeSize = 1245000;
    var totalObjects = 100000;

    var container = document.getElementById('webgl');

    var camera = new THREE.PerspectiveCamera(55, window.innerWidth / window.innerHeight,1, 400000)
    camera.position.z = 550000;
    camera.position.y =10000;
    camera.lookAt( new THREE.Vector3(0,6000,0) );


    var scene = new THREE.Scene();
    scene.fog = new THREE.Fog( 0x000000, 1, 300000 );


    var	plane = new THREE.Mesh( new THREE.PlaneGeometry( planeSize, planeSize, planeDefinition, planeDefinition ), new THREE.MeshBasicMaterial( { color: 0x555555, wireframe: false } ) );
    plane.rotation.x -=Math.PI*.5;

    scene.add( plane );

    var geometry = new THREE.Geometry();

    for (i = 0; i < totalObjects; i ++)
    {
        var vertex = new THREE.Vector3();
        vertex.x = Math.random()*planeSize-(planeSize*.5);
        vertex.y = Math.random()*100000;
        vertex.z = Math.random()*planeSize-(planeSize*.5);
        geometry.vertices.push( vertex );
    }

    var material = new THREE.ParticleBasicMaterial( { size: 200 });
    var particles = new THREE.ParticleSystem( geometry, material );

    scene.add( particles );

    var renderer = new THREE.WebGLRenderer({alpha: true});
    renderer.setSize(window.innerWidth, window.innerHeight);
    container.appendChild( renderer.domElement );

    updatePlane();

    function updatePlane() {
        for (var i = 0; i < plane.geometry.vertices.length; i++)
        {
            plane.geometry.vertices[i].z += Math.random()*vertexHeight -vertexHeight;
        }
    };


    render();

    function render() {
        requestAnimationFrame( render );
        camera.position.z -= 150;
        //  dateVerts();
        renderer.render( scene, camera );
    }

    //material contact form animation
    $('.contact-form').find('.form-control').each(function() {
        var targetItem = $(this).parent();
        if ($(this).val()) {
            $(targetItem).find('label').css({
                'top': '10px',
                'fontSize': '14px'
            });
        }
    })
    $('.contact-form').find('.form-control').focus(function() {
        $(this).parent('.input-block').addClass('focus');
        $(this).parent().find('label').animate({
            'top': '10px',
            'fontSize': '14px'
        }, 300);
    })
    $('.contact-form').find('.form-control').blur(function() {
        if ($(this).val().length == 0) {
            $(this).parent('.input-block').removeClass('focus');
            $(this).parent().find('label').animate({
                'top': '25px',
                'fontSize': '18px'
            }, 300);
        }
    });

    $(".dot-container").click(function(e){
            e.preventDefault();
            $("form").toggleClass("go-out");
            $(".text-inner p ").toggleClass("go-out");
            $(".text-container").toggleClass("pointers");

    });

    $(".footer-instructions").html("Fill out the form above");



</script>