<!DOCTYPE html>
<html>
  <head>
    <title>Perfect Presence</title>
    <%= csrf_meta_tags %>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/three.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/CanvasRenderer.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/Projector.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/OrbitControls.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/150586/THREEx.WindowResize.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://rawgit.com/mrdoob/three.js/master/examples/js/renderers/CSS3DRenderer.js"></script>
    <script src="https://cdn.rawgit.com/alvarotrigo/fullPage.js/master/jquery.fullPage.min.js"></script>
    <link rel="stylesheet" href="Stylesheets/HomePage.css"/>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
